* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';

  }
  .banner{
    width: 100%;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
  }
  .container {
    padding: 60px 230px;
    width: 100%;
    
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav > ul {
    display: flex;
    list-style: none;
    gap: 25px;
  }
  .nav-head{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
  }
  ul{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
  }
  /*..... banner section start....... */

  /*banner first section start*/
  .banner-first-section{
    position: absolute;
    width: 862px;
    height: 225px;
    left: 529px;
    top: 205px;
    text-align: center;
    
  }
  .banner-first-title,.banner-second-title{
    
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;

  }
  .banner-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 20px;

  }
  .btn-primary{
    margin-top: 33px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: 0;

    
  }
  /*banner first section end*/

   /* banner second section start */

  .banner-second-section{
    position: absolute;
    width: 100%;
    height: 700px;
    left: 240px;
    top: 577px;
   
  }
  /* banner second section end */

  /*..... banner section end....... */

  /* body first section */
  .body-first-section{
    display: flex;
    align-items: center;
    gap: 73px;
    padding: 100px 300px;
  }
  .image-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    
  }
  .image-section > img {
    height: 100%;
    width: 100%;
  }
  .text-section{
    width: 537px;
    height: 304px;
    
  }
  strong{
    font-weight: 500;
    font-size: 45px;
    color: #131313
    ;
  }
  .text-first-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
  }
  .text-second-title {
    font-weight: 500;
    font-size: 45px;
    color: #FF900E;
  }
  .text-detail{
    font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-top: 24px;
  }
  /* body first section ens */

  /* body second section */


  .body-second-section{
  display: flex;
  gap:54px;
  width: 1440px;
  height: 1059px;
  padding: 0 240px;
  margin-bottom: 100px;

  }

  .second-text-title, .third-text-title {

    width: 400px;
  height: 106px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  }
.text-detail-second, .box-description, .text-detail-third{
  width: 586px;
  height: 78px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-right: 20px;
  color: #727272;

}
.text-detail-second{
  margin-top: 24px;
  margin-bottom: 30px;
}
.box{
  
  width: 586px;
  height: 171px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}
.box-title{
  margin-bottom: 10px;
}
.box-description{
  padding-right: 50px;
}
.btn-second{

  width: 342px;
  height: 200px;
  border: 0;
  background: #FF900E;
  border-radius: 8px;
  margin-top: -500px;
  margin-left: -30px;
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}
.btn-second > p {
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
}
/* body second section end */
  
.third-text-title{
  margin-left: 214px;
}
.text-detail-third{
  margin-left: 230px;
  margin-bottom: 50px;
}

.second-box-section{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.box-two{

width: 241px;
height: 241px;


border: 1px solid #FF900E;
border-radius: 8px;

}
.box-items{
padding: 65px 40px;
}
.box-no{
  
  font-weight: 600;
font-size: 45px;
line-height: 53px;
/* identical to box height */

text-align: center;

/* Dark 02 */

color: #424242;}
.box-text{
  width: 169px;
height: 23px;
  font-weight: 600;
font-size: 20px;
line-height: 23px;

/* Dark 03 */

color: #727272;


}



.forth-text-title{
  width: 100%;
  height: 53px;
 
  padding: 90px 700px;

font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
text-align: center;
margin-top: 2px;
}

.text-detail-forth{


width: 100%;
height: 52px;

padding: 5px 700px;



font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
margin-bottom: 80px;

}
.logo-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer{

width: 1440px;
height: 100px;
margin: 130px 240px;
padding: 40px 410px;

background: #FFF4E7;
border-radius: 8px;
}
#verticalLine {
  border-left: thick solid #ff0000;

  
}


  